<%= link_to "My Lists", lists_path %>

<h2><%= @list.name %></h2>

<%# fix lines below %>
<% @list.bookmarks.each do |bookmark| %>
  <li class="list-group-item"> <%= bookmark.comment %> <%= "Title: #{bookmark.movie.title}" %> <%= "Rating: #{bookmark.movie.rating}" %> </li>
<% end %>

<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
