<div class="container">
  <div style="height:100vh" class="d-flex align-items-center justify-content-center">
    <div>
      <h2 class="d-flex justify-content-center">New Bookmark</h2>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, :prompt => "Choose a Movie", collection: Movie.order('title ASC'), class: ".form-control-sm" %>
          <%= f.input :comment, placeholder: "So what did you think?", class: ".form-control-sm" %>
          <div class="d-flex justify-content-between">
            <%= f.submit "Add Your Bookmark", class: "btn btn-primary .text-nowrap" %>
            <%= f.submit class: "fa-solid fa-dumpster-fire" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
